@import url('https://themes.googleusercontent.com/fonts/css?kit=mIl33ndjujZpcB12T3Og7tddl7ZuNznxjJJz2jzS5PT-SYK_Ln3uQOimoUBe-l5o');
@import url('./pandoc.css');

ol {
    margin: 0;
    padding: 0
}

table td,
table th {
    padding: 0
}

.title {
    padding-top: 12pt;
    color: #000000;
    font-weight: 700;
    font-size: 16pt;
    padding-bottom: 3pt;
    font-family: "Verdana";
    line-height: 1.1666666666666667;
    orphans: 2;
    widows: 2;
    text-align: center
}

.subtitle {
    padding-top: 0pt;
    color: #000000;
    font-weight: 700;
    font-size: 12pt;
    padding-bottom: 12pt;
    font-family: "Trebuchet MS";
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: justify
}

li {
    color: #000000;
    font-size: 12pt;
    font-family: "Trebuchet MS"
}

p {
    margin: 0;
    color: #000000;
    font-size: 12pt;
    font-family: "Trebuchet MS"
}

h1 {
    padding-top: 0pt;
    color: #000000;
    font-weight: 700;
    font-size: 18pt;
    padding-bottom: 18pt;
    font-family: "Trebuchet MS";
    line-height: 1.5;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: justify
}

h2 {
    padding-top: 6pt;
    color: #000000;
    font-weight: 700;
    font-size: 16pt;
    padding-bottom: 10pt;
    font-family: "Trebuchet MS";
    line-height: 1.1666666666666667;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: justify
}

h3 {
    padding-top: 6pt;
    color: #000000;
    font-weight: 700;
    font-size: 14pt;
    padding-bottom: 6pt;
    font-family: "Trebuchet MS";
    line-height: 1.1666666666666667;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: justify
}

h4 {
    padding-top: 12pt;
    color: #000000;
    font-size: 12pt;
    padding-bottom: 6pt;
    font-family: "Trebuchet MS";
    line-height: 1.1666666666666667;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: justify
}

h5 {
    padding-top: 12pt;
    color: #000000;
    font-size: 11pt;
    padding-bottom: 3pt;
    font-family: "Trebuchet MS";
    line-height: 1.1666666666666667;
    orphans: 2;
    widows: 2;
    text-align: justify
}

h6 {
    padding-top: 12pt;
    color: #000000;
    font-size: 11pt;
    padding-bottom: 3pt;
    font-family: "Trebuchet MS";
    line-height: 1.1666666666666667;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: justify
}